footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: var(--grey-bg-color);
}

footer ul {
  width: 33%;
  padding-left: 0;
}

footer ul li {
  padding: 7px 10px;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 700;
}

footer a,
footer li {
  text-decoration: none;
  list-style-type: none;
}

footer a {
  color: var(--txt-color);
}

footer a:hover {
  color: var(--main-color);
}

/* Medias */

@media (max-width: 767.98px) {

    footer{
        flex-direction:column;
    }
  }
  