header {
    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.logo {
    width: 61px;
    height: 19px;
    padding: 30px 0;
}

.navbar a {
    text-decoration:none;
    list-style-type:none;
    color: var(--txt-color);
    border-top:2px solid transparent;
}

.navbar a:hover {
    color: var(--main-color);
    border-top:2px solid var(--main-color);
}

.navbar ul {
    display:flex;
    gap:68px;
    margin:0;
    padding:0;
}

.navbar ul li {
    padding:16px 0;
}