/****** imports ***********/
@import url(./components/navbar.css);
@import url(./components/search-bar.css);
@import url(./components/filters.css);
@import url(./components/cards.css);

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

/****** generals ***********/

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white-bg-color: #fff;
  --txt-color: #000000;
}

a {
  text-decoration: none;
  color: var(--txt-color);
}

a:hover {
  color: var(--main-color);
}

li {
  list-style-type: none;
}

.fa-solid {
  color: var(--main-color);
  font-size: 1rem;
  text-align: center;
}

.neutral-star {
  color: var(--main-bg-color);
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

section:is(section.hebergements, section.populaires, section.activities) {
  padding: 30px;
  box-sizing: border-box;
}

/****** h1-3, section-title ***********/

h1,
h2 {
  font-weight: 700;
  font-size: 1.35rem;
}

h3 {
  font-weight: 700;
  font-size: 1.15rem;
}

.section-title {
  margin: 0;
  padding: 0;
}

/****** header ***********/

header {
  display: flex;
  justify-content: space-between;
}

.logo img {
  height: 19px;
  padding: 30px 0;
}

/****** info-group ***********/

.info-group {
  margin-top: 30px;
  margin-bottom: 35px;
}

.info-group p {
  margin-top: 8px;
}

/****** info ***********/

.info {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.info i {
  font-size: 0.625rem;
  padding: 7px 10px;
  border: 1px solid #d9d9d9;
  border-radius: 50%;
}

.info p {
  margin: 0 0 0 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 10px 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
}

.hebergements-title,
.hebergements-more {
  width: 100%;
}

.hebergements-more a {
  font-size: 1.15rem;
}

.hebergements-more h3 {
  margin: 0;
  padding: 0;
}

/****** Populaires ***********/

.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.activities {
  margin-bottom: 35px;
}

/****** footer ***********/

footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: var(--main-bg-color);
}

footer ul {
  padding-top: 20px;
  padding-left: 20px;
}

footer .footer-title {
  margin-bottom: 15px;
}

.footer-title {
  font-size: 1.125rem;
  font-weight: 700;
}

footer ul li a {
  display: block;
  padding: 5px 0;
  margin-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/

/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements,
  .populaires {
    width: 100%;
  }

  .populaires {
    margin-top: 50px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
  .main-container {
    padding: 0;
  }

  header {
    flex-direction: column;
    align-items: center;
  }

  .info-group,
  footer {
    padding: 0 20px;
  }

  .hebergements {
    gap: 15px;
  }

  .hebergements-and-populaires {
    flex-direction: column-reverse;
  }

  .hebergements-and-populaires section {
    border-radius: 0px;
  }

  section.hebergements,
  section.hebergements-more {
    background-color: var(--white-bg-color);
  }

  footer {
    grid-template-columns: 1fr;
  }

  footer ul {
    width: 100%;
    padding-top: 18px;
  }
}
