/****** General ***********/
@import url(./header.css);
@import url(./footer.css);
@import url(./buttons.css);
@import url(./cards.css);
@import url(./search-bar.css);

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
* {
  font-family: "Raleway", sans-serif;
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
  --white-bg-color: #fff;
  --grey-bg-color: #f2f2f2;
  --txt-color: #000000;
}

.fa-solid {
  color: var(--main-color);
  width: 22px;
  height: 22px;
}

body {
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

.main-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 50px;
  box-sizing: border-box;
}

/****** h1-3, title ***********/

h1,
h2 {
  font-weight: 700;
  font-size: 1.35rem;
}

h3 {
  font-weight: 700;
  font-size: 1.15rem;
}

.section-title {
  margin: 0;
  font-size: 1.35rem;
}

/****** info-group ***********/

.info-group {
  margin-bottom: 35px;
}

.info-group h1 {
  margin-top: 30px;
}

.info-group p {
  margin-top: 8px;
  margin-bottom: 0;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.filters h3 {
  padding-right: 15px;
}

.info {
  display: flex;
  align-items: center;
}

.info p {
  margin: 0;
  padding: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.hebergements-title,
.hebergements-more {
  width: 100%;
}

.hebergements .card {
  width: 29%;
}

.hebergements img {
  height: 125px;
  width: 100%;
  border-radius: 20px 20px 0px 0px;
  margin-bottom: 4px;
}

.hebergements .card-txt,
.hebergements .card-rating {
  padding: 0 15px;
}

.hebergements .card-txt h3 {
  margin: 0;
  padding: 0;
}

.hebergements .card-txt p {
  margin: 0;
  padding: 8px 0;
}

.hebergements .card-txt div {
  margin: 0;
  padding: 0;
}
/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

/****** activities ***********/

.activities {
  padding-top: 30px;
  padding-bottom: 35px;
}

.activities-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.activities article {
  padding: 0;
}

.activities-cards article {
  width: 24%;
  margin-top: 30px;
}

.activities-cards img {
  height: 380px;
  width: 100%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.activities .card-content {
  padding: 0 20px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards .card {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
  .activities img {
    height: 200px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  .main-container {
    padding: 0;
  }
  main {
    padding: 0 20px;
  }
  footer {
    padding: 0 30px;
  }

  /* Filters */
  .filters h3 {
    display: block;
    width: 100%;
  }
  .filters a {
    max-height: 50px;
    width: 40%;
    margin-right: 0px;
  }
}
