.navbar ul {
  display: flex;
  gap: 68px;
  margin: 0;
  padding: 0;
}

.navbar a {
  display: block;
  padding: 16px 0;
  border-top: 2px solid transparent;
}

.navbar a:hover {
  border-top: 2px solid var(--main-color);
}

/* Medias */

@media (max-width: 768px) {
  .navbar {
    width: 100%;
  }

  .navbar ul {
    gap: 0;
  }

  .navbar li {
    width: 50%;
    text-align: center;
    border-bottom: 2px solid var(--main-bg-color);
  }

  .navbar a {
    padding-top: 0;
  }

  .navbar li:hover {
    border-bottom: 2px solid var(--main-color);
  }

  .navbar a:hover {
    border-top: 2px solid transparent;
  }
}
