.search-bar {
  display: flex;
  margin: 35px 0;
}

.search-bar i {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  min-width: 50px;
  border-radius: 15px 0 0 15px;
  background-color: var(--main-bg-color);
  color: var(--txt-color);
}

.search-bar input {
  max-width: 150px;
  min-height: 50px;
  border-top: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-left: none;
  border-right: none;
  outline: none;
  font-weight: 700;
  font-size: 1rem;
  padding: 0 20px;
  text-transform: capitalize;
  text-align: center;
}

.search-bar input::placeholder {
  color: var(--txt-color);
}

.search-bar input:focus::placeholder {
  color: transparent;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--main-bg-color);
  border-right: 1px solid var(--main-bg-color);
  border-bottom: 1px solid var(--main-bg-color);
  border-radius: 0 15px 15px 0;
}

/* Desktop button */

.search-bar .submit-btn {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  color: var(--white-bg-color);
  font-weight: 700;
  font-size: 1rem;
  border-radius: 0 15px 15px 0;
  padding: 0 16px;
  height: 50px;
}

/* Mobile button */

.search-bar .submit-btn-mobile {
  display: none;
  width: 50px;
  height: 50px;
}

.search-bar .submit-btn-mobile i {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: var(--main-color);
  color: var(--white-bg-color);
  border-radius: 15px;
  width: 50px;
  height: 50px;
}

a.submit-btn-mobile {
  background-color: red;
  border: 1px solid black;
}

/* Medias */

@media (max-width: 768px) {
  .search-bar input {
    width: 100%;
    max-width: 100%;
  }
  .search-bar .submit-btn {
    display: none;
  }
  .search-bar .submit-btn-mobile {
    display: contents;
  }
}
